.collapseDiv {
  position: relative;
  cursor: pointer;
  margin-bottom: 10px;

  i {
    position: absolute;
    right: 0;
  }
}

.collapseContent.collapsed {
  display: none;
}

.collapseContent.expanded {
  display: block;
}
