.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 61px;

  .logo {

    a {
      color: #000;
    }
  }

  .nav {

    nav ul {
      list-style-type: none;
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0;

      li {
        margin-right: 15px;

        a {
          display: inline-block;
          color: #000;

          .linkInner {
            display: flex;
            align-items: center;

            .linkInnerText, .totalCount {
              display: inline-block;
            }
  
            .linkInnerText {
              margin-right: 5px;
            }
  
            .totalCount {
              width: 20px;
              height: 20px;
              background-color: #2d7dff;
              border-radius: 50%;
              position: relative;

              div {
                position: absolute;
                top: 2px;
                left: 47%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                color: #fff;
                font-weight: 500;
              }
            }
          }

          .cartLink {
            width: 79px;
          }

          .favoritesLink {
            width: 97px;

            .totalCount {
              background-color: rgb(255, 45, 143);
            }
          }
        }
      }
    }
  }
}
