.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 61px;
  padding-left: 100px;
  padding-right: 100px;

  .logo {
    width: 160px;

    a {
      display: inline-block;

      img {
        width: 100%;
      }
    }
  }

  .nav {

    nav ul {
      list-style-type: none;
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0;

      li {
        margin-right: 15px;

        &:nth-of-type(2) {
          margin-right: 0;
        }

        a {
          display: inline-block;
          color: #000;

          .linkInner {
            display: flex;
            align-items: center;

            .linkInnerText, .totalCount {
              display: inline-block;
            }
  
            .linkInnerText {
              margin-right: 5px;
            }
  
            .totalCount {
              width: 20px;
              height: 20px;
              background-color: #2d7dff;
              border-radius: 50%;
              position: relative;

              div {
                position: absolute;
                top: 2px;
                left: 47%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                color: #fff;
                font-weight: 500;
              }
            }
          }

          .cartLink {
            width: 79px;
          }

          .favoritesLink {
            width: 97px;

            .totalCount {
              background-color: rgb(255, 45, 143);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .header {
    display: block;
    height: auto;
    padding: 15px 20px;

    .logo {
      width: 190px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
    }

    .nav {
      nav ul {
        justify-content: center;
        height: 20px;

        li {
          margin-right: 20px;

          a {

            .linkInner {

              &.cartLink {
                width: 120px;
  
                .linkInnerText {
                  padding-left: 27px;
                }
              }

              &.favoritesLink {
                width: 108px;
              }

              .linkInnerText {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}