.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;

  .logo {

    a {
      color: #000;
    }
  }

  .nav {

    nav ul {
      list-style-type: none;
      display: flex;
      padding: 0;
      margin: 0;

      li {
        margin-right: 15px;

        a {
          color: #000;
        }
      }
    }
  }
}
