.filtersContainer {
  
  .filterBrand {

    .inputSearchContainer {
      margin-bottom: 15px;

      .inputSearch {
        width: 100%;
        border: 1px solid #bcbcbc;
        padding: 7px 10px;
      }
    }

    .brandList {
      max-height: 155px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      &::-webkit-scrollbar-thumb {
        background: #bcbcbc;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #8e8e8e;
      }

      .container {
        display: block;
        position: relative;
        padding-left: 25px;
        margin-bottom: 12px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:hover input ~ .checkmark {
          background-color: #ccc;
        }

        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;

          &:checked ~ .checkmark {
            background-color: #2196F3;
          }
  
          &:checked ~ .checkmark:after {
            display: block;
          }
        }

        .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 17px;
          width: 17px;
          background-color: #eee;

          &::after {
            content: "";
            position: absolute;
            display: none;
            left: 4px;
            top: 1px;
            width: 5px;
            height: 10px;
            border-style: solid;
            border-color: white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
        }
      }
    }
  }

  .filterPrice {

    .fromToContainer {
      display: flex;
      margin-bottom: 10px;

      .from, .to {
        width: 50%;
      }
    }

    .priceRange {
      display: flex;

      .priceRangeInput {
        width: 50%;

        input {
          width: 100%;

          &.inputLeft, &.inputRight {
            border: 1px solid #bcbcbc;
            padding: 7px 10px;
          }

          &.inputLeft {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: none;
          }

          &.inputRight {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }
      }
    }
  }

  .filterColor {

    form {

      .formControl {

        input[type="checkbox"] {
          -webkit-appearance: none;
          appearance: none;
          background-color: #fff;
          width: 30px;
          height: 30px;

          &.white {
            background-color: #fff;
          }

          &.black {
            background-color: #000;
          }

          &.silver {
            background-color: #d3d3d3;
          }

          &.blue {
            background-color: #4e64d3;
          }

          &.red {
            background-color: #cc3126;
          }

          &.pink {
            background-color: #cc5da3;
          }

          &.green {
            background-color: #34b53d;
          }

          &.yellow {
            background-color: #f9e31b;
          }
        }
      }
    }
  }
}