.filtersContainer {
  max-width: 250px;

  .filterScreenSize {

    .filterRangeFields {
      margin-bottom: 15px;
    }
  }

  .filterNumberOfCores {
    > div:nth-of-type(2) {
      > div {
        overflow-y: visible;
      }
    }
  }
}
